{% if is_granted('ROLE_ADMIN') %}
    {% include 'default/_form.html.twig' with {
        page_title: 'title.albums_create'|trans,
        form: form,
        submit_label: 'action.save'|trans,
        back_to_list_path: 'albums_index',
    } %}
{% else %}
    {% if is_granted('ROLE_USER') %}
        <p>{{ 'message.access_denied'|trans }}</p>
    {% else %}
        {% set loginRoute = path('app_login') %}
        {% set loginRedirect = path(app.request.attributes.get('_route'), app.request.query.all) %}
        <script>
            window.location.href = "{{ loginRoute }}?redirect={{ loginRedirect }}";
        </script>
    {% endif %}
{% endif %}